{% extends "base_p.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} home {% endblock title %}
{% block contenido %}
<div class="container mt-5">
    <h2>Mis Reservas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Habitación</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.habitacion }}</td>
                <td>{{ reserva.fecha_inicio }}</td>
                <td>{{ reserva.fecha_fin }}</td>
                <td>
                    <a href="{% url 'eliminar_reserva' reserva.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar esta reserva?');">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}

{% block script %}
{% endblock script %}